@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Climate+Crisis&family=Josefin+Sans:ital,wght@1,200&display=swap');
:root{
    --dark: #464747;
    --text: #993871;
    --shadow: rgb(114 4 68);
	--bg: rgb(109, 99, 119);
}
body{
    background-color: var(--bg);
    text-align: center;
}
#name{
    text-shadow: 4px 4px var(--shadow); 
    font-size: 80px;   
    font-family: 'Anton', sans-serif;
}
#info{
    font-size: 35px;
    padding-bottom: 30px;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 1px 1px var(--shadow);
}
#button{
    cursor: pointer;
	text-align: center;
	background: var(--dark);
	color: var(--text);
	font-size: 22px;
	font-family: 'Anton', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 18px;
	border-color: var(--text);
    text-shadow: 1px 1px var(--shadow); 
}
#text1{
    cursor: pointer;
	text-align: center;
	background: var(--dark);
	color: var(--text);
	font-size: 22px;
    font-family: 'Anton', sans-serif;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 18px;
    border-color: var(--text);
    text-shadow: 1px 1px var(--shadow);
    width: 20%;
}
#kaverit{
    font-size: 35px;   
    font-family: 'Josefin Sans', sans-serif;
}
@media (max-width: 800px) {
	#name {
	  font-size: 52px; 
	}
	#info{
		font-size: 30px; 
	}
	#text1{
		width: 70%;
	}
}